.pointer{
    position: absolute;
    z-index:1;
    width: 100px;
    height: 150px;
    margin-left: 740px;
    margin-top: 350px;
}
.background{
    position: absolute;
    z-index:0;
    width: 426px;
    height: 427px;
    margin-left: 575px;
    margin-top: 250px;
}
.btn{
    position: absolute;
    margin-left: 740px;
    margin-top: 750px;
}
/*.lunpan{*/
/*    position: absolute;*/
/*}*/