<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src = "/js/aes.js"></script>
    <script type="text/javascript" src = "/js/crypto-js.js"></script>
    <script type="text/javascript" src = "/js/pad-zeropadding.js"></script>
    <script type="text/javascript" src = "/js/Myjs.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<input type="button" value="获取数据" onclick="getData()"/>
<input type="button" value="发送数据" onclick="sendData()"/>
<script>
    function getData() {
        $.ajax({
            type: "GET",
            url:"http://39.106.105.240:80/test/get",
            dataType:'json',
            success: function(resData) {
                alert(resData);
                alert(Decrypt(resData));
            }
        });
    }

    function sendData() {
        $.ajax({
            type: "POST",
            url:"http://39.106.105.240:80/test/crypt3",
            data:Encrypt(JSON.stringify({email:"123456"})),
            dataType:'json',
            contentType: "application/json",
            success: function(resData) {
                alert("返回的数据："+resData);
                alert("解密之后："+Decrypt(resData));
                alert("解密之后转json对象："+JSON.parse(Decrypt(resData)).name);
            }

        });
    }



</script>
</body>

</html>