<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>personalindex</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src = "/js/aes.js"></script>
    <script type="text/javascript" src = "/js/crypto-js.js"></script>
    <script type="text/javascript" src = "/js/pad-zeropadding.js"></script>
    <script type="text/javascript" src = "/js/Myjs.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
</head>
<body onload="set_name()">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid text-center" >
        <div class="navbar-header navbar-left">
            <img class="navbar-brand" src="/img/chat.png">
            <p class="navbar-brand">WebChatSystem</p>
        </div>
        <div>
            <p  class="navbar-text " id="md_location">好友</p>
        </div>
        <div class="navbar-right" style="display: flex;width: 125px">
            <div class="nav navbar-nav">
                <img id="user_img" src="/img/user.png" style="width: 30px;height: 30px;margin-left: 20%">
                <p id="user_name">chatuser</p>
            </div>
            <div  class="nav navbar-text"style="display: flex;align-items: center;margin-left: 2%;">
                <div id="status"><img src="/img/online.png"style="width: 20px;height: 20px">在线</div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2" id="info"  style="border-width:5px;background-image:url('http://39.106.105.240:80/img/background.jpg');background-repeat: no-repeat;width: 100%;height: 100%;">
            <div style="width: 100%;height: 90px;margin-top: 30px">群ID：{{user_info.groupchatid}}</div>
            <div style="width: 100%;height: 90px;margin-top: 30px">总人数：{{user_info.num}}</div>
            <div style="width: 100%;height: 90px;margin-top: 30px">昵称：{{user_info.gcname}}</div>
            <div style="width: 100%;height: 90px;margin-top: 30px">description：{{user_info.describtion}}</div>
            <div><button onclick="team()" type="button" style="height:60px;margin-top:100px;margin-left:25px;width:450px;background-color:#0BD71B" class="btn btn-default" value="send">查看群成员</button></div>
            <div><button onclick="submits()" type="button" style="height:60px;margin-top:15px;margin-left:25px;width:450px;background-color:#0BD71B" class="btn btn-default" value="send">发消息</button></div>
            <div><button onclick="submit()" v-if="user_info.userid==this_id" type="button" style="height:60px;margin-top:15px;margin-left:25px;width:450px;background-color:#0BD71B" class="btn btn-default" value="new">修改群信息</button></div>
        </div>
    </div>
</div>


</body>

<script>
    var id=localStorage.getItem("id");
    console.log(id);
    var info=new Vue({
        el:"#info",
        data:{
            user_info:{},
            this_id:id
        },
        methods:{
            get(){
                var id=localStorage.getItem("groupchatid");
                var personal_info_url="http://39.106.105.240:80/groupchats/"+id;
                var token=localStorage.getItem("Token");
                var name=localStorage.getItem("gcname");
                document.getElementById("md_location").innerHTML=name;
                $.ajax({
                    type: "GET",
                    url: personal_info_url,
                    headers: {'Content-Type': 'application/json;charset=utf8', 'Token': token},
                    success: function (resData) {
                        info.user_info = resData;
                        console.log(resData);
                    },
                    error: function (res) {
                        alert("error");
                    }
                });
            }
        }
    })
    info.get();
    function submits(){
        var token=localStorage.getItem("Token");
        window.location.href="http://39.106.105.240:80/pages/groupmes/"+token;
    }
    function submit(){
        window.location.href="http://39.106.105.240:80/pages/gc_info";
    }
    function team(){
        var token=localStorage.getItem("Token");
        window.location.href="http://39.106.105.240:80/pages/getusers/"+token;
    }
</script>
</html>