<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>晨晨大奖盘</title>
    <script type="text/javascript" src="/cjjs/jQuery.js"></script>
    <script type="text/javascript" src="/cjjs/rotate.js"></script>
    <link rel="stylesheet" href="/cjcss/抽奖.css">
    <script type="text/javascript" src="/cjjs/抽奖.js"></script>
</head>
<body>
<div class="lunpan" >
    <div >
        <img class="pointer" id="pointer"  src="/cjimg/抽奖指针.png">
        <img class="background" id="background" src="/cjimg/抽奖轮盘2.png">
    </div>
</div>
</body>
</html>